# secret
/datadog-todo/deployments/*
/google-cloud/profiler-demo-app/secrets/*
/opentelemetry/gc-client-library/secrets/*
/datadog-php-apm/.env

# python
/opentelemetry/work-otel-datadog-python/venv/*
/datadog-otel-lambda/Python/bin/*
/datadog-otel-lambda/Python/include/*
/datadog-otel-lambda/Python/lib/*
/datadog-otel-lambda/Python/bin/pyvenv.cfg
